* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
}

body {
  min-width: 100%;
  width: 100%;
  background-color: rgb(245, 245, 245);
}

.table {
  width: 100%;
  border-spacing: 0;
  overflow: hidden;
}

.table thead tr {
  height: 48px;
  max-height: 48px;
}

.table thead tr td {
  height: 48px;
  max-height: 48px;
}

.table tbody tr:hover {
  background-color: #EEEEEE;
}

.table tbody tr td.column {
  border-top: 1px rgba(0,0,0,.12) solid;
}

.table tfoot tr {
  height: 48px;
  max-height: 48px;
}

.table tfoot tr td {
  height: 48px;
  max-height: 48px;
}

.table tfoot tr td:last-child {
  padding: 0 88px 0 0;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.54);
  text-align: right;
}

.table tbody {
  color: rgba(0,0,0,.87);
}

.table thead {
  color: rgba(0,0,0,.54);
}

th.column:hover {
  color: rgba(0,0,0,.26);
}

.column:first-child {
  padding: 0 24px 0 24px;
}

.column:nth-child(2) {
  padding: 0 24px 0 56px;
}

.column:last-child {
  padding: 0 24px 0 0;
}

.table thead td.column {
  font-size: 12px;
}

.column {
  height: 48px;
  padding: 0 56px 0 0;
  text-align: left;
  font-size: 13px;
}

.column-numeric {
  text-align: right;
}

.card-table {
  margin: 8px;
  background-color: #FFF;
  vertical-align: middle;
  padding: 0 0 0 0;
}

.card-header {
  padding: 0 0 0 24px;
  height: 64px;
  max-height: 64px;
}

.card-title {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 20px;
  color: rgba(0,0,0,.87);
  line-height: 64px;
  font-weight: normal;
}

/* Wide VGA */
@media (min-width: 768px) and (max-width: 1279px)  {
  .container {
    width: 738px;
  }
}

/* HD */
@media (min-width: 1280) and (max-width: 1919px) {
  .container {
    width: 1280px;
  }
}

/* Full HD */
@media (min-width: 1920px) {
  .container {
    width: 1920px;
  }
}
